.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 315px;
  width: 300px;
  margin: .5rem;
  padding: 1rem;
  
  font-size: .9rem;
  text-align: center;

  border: #8df 2px solid;
  border-radius: 3px;

  background: #223;
  color: #fff;
}
.card img {
  height: 100px;
  margin-bottom: .5rem;
}

.card h2 {
  font-size: 1.5rem;
}

.button {
  padding: 0.5rem 1rem;

  background: #8df;
  border: #223 1px solid;
  border-radius: 5px;
  color: #223;
}

.button:hover {
  background: #fff;
  cursor: pointer;
}

.containerDelete {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;
  width: 100%;
}