.category_ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 1rem;

  list-style: none;
  background: #dddca2;
}
.category_link {
  padding: .5rem;
  border-radius: 5%;
}
.category_link:hover {
  background: #fff;
}

.category_active {
  background: #fff;
}